.homePageWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.formWrapper {
    background: #31363c;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
}


/* .formWrapper img {
    height: 120px;
} */

footer {
    position: fixed;
    bottom: 0;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0px;
}

.homePageLogo {
    height: 80px;
    margin-bottom: -14px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 14px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    /* font-weight: bold; */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #4aed88;
    width: 100px;
    margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
    background: #14b160;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}

.createNewBtn:hover {
    color: #14b160;
    border-color: #14b160;
}

.mainWrap {
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.aside {
    background: #31363c;
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
}

.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.userName {
    margin-top: 5px;
}

.leaveBtn {
    margin-top: 20px;
    background: #4aed88;
    width: 100%;
    font-weight: 700;
}

.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 15px;
    line-height: 1.6;
    padding-top: 14px;
}